<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
							<li>
						       	公司別：<select name="company" th:with="type=${@dict.getType('fcms_company')}">
	                    		<option value="">所有</option>
	                    		<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	                			</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<!-- 增刪改料號 -->
			<div class="btn-group-sm show-xs" id="toolbar" role="group">
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="mtdata:stock:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
			<div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
	var prefix = ctx + "mtdata/stock";
	

	$(function() {
	    var options = {
	        url: prefix + "/list",
	        exportUrl: prefix + "/export",
	        sortName: "company",
	        modalName: "庫存管理",
	        search: false,
	        showExport: false,
	        columns: [{
	            checkbox: true
	        }, {
	            field: 'company',//必須寫在第一個，不然edit找不到
	            title: '公司別',
	            align: 'left'
	        },{
	            field: 'material',//必須寫在第一個，不然edit找不到
	            title: '物料',
	            align: 'left'
	        }, {
	            field: 'trade_name',
	            title: '品名',
	            align: 'left'
	        },{
	            field: 'category',
	            title: '類別',
	            align: 'left'
	        },{
	            field: 'warehouse',
	            title: '庫別',
	            align: 'left'
	        },{
	            field: 'sfStock_qty',
	            title: '安全庫存',
	            align: 'left'
	        }, {
	            field: 'curStock_qty',
	            title: '當前庫存',
	            sortable: true,
	            align: 'center',
	        }, {
	            field: 'this_mon_used',
	            title: '本月已領',
	            align: 'center'
	        }, {
	            field: 'this_mon_avail',
	            title: '本月待領',
	            align: 'center',
	        }, {
	            field: 'demand_qty',
	            title: '下月需求',
	            align: 'center',
	        }, {
	            field: 'gap_qty',
	            title: 'GAP',
	            align: 'center',
	        }, {
	            field: 'gap_rate',
	            title: '下月佔比',
	            align: 'center',
	        }, {
	            field: 'suggest_qty',
	            title: '建議請購量',
	            align: 'center',
	        }]
	    };
	    $.table.init(options);
	    
	    /* bootstrap表格 渲染完成事件樣例 */
	    $('#bootstrap-table').on('post-body.bs.table', function(data){
	    	var columnName = "GAP";
	    	var trs = $('#bootstrap-table tr');
	    	
	    	//從表頭中找到對應列的下標
	    	var ths = $(trs[0]).children();
	    	var indexColumn = null;
	    	for(var k=0;k<ths.length;k++){
	    		if($(ths[k]).children('.th-inner')[0].innerHTML == columnName){
	    			indexColumn = k;
	    			break;
	    		}
	    	}
	    	//檢查是否找到
	    	if(indexColumn==null){
	    		console.log("未找到對應列: '"+columnName+"'");
	    		return;
	    	}
	    	
	    	//遍歷每行，處理要處理的列,將字體顏色修改了
	    	for(var i=1;i<trs.length;i++){
	    		var tds = $(trs[i]).children();
	    		if($(tds[indexColumn]).html() < 0){
	    			//$(tds[indexColumn]).css('background','red');
	    			$(tds[indexColumn]).css('color','red');
	    		}
	    		/* else{
	    			$(tds[indexColumn]).css('background','green'); 
	    		}*/
	    	}
	    });
	});
	
	</script>
</body>
</html>